@charset "utf-8";
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
  font-weight: 400;
}
body,
button,
input,
select,
textarea {
  font: 14px/1.5 '\5FAE\8F6F\96C5\9ED1';
  color: #333;
  font-family: '微软雅黑';
}
html,
body {
  width: 100%;
  height: 100%;
}
input {
  background: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
button,
input,
select,
textarea {
  vertical-align: baseline;
  *vertical-align: middle;
  padding: 0;
  margin: 0;
}
address,
cite,
dfn,
em,
var,
i {
  font-style: normal;
}
code,
kbd,
pre,
samp {
  font-family: courier new, courier, monospace;
}
small {
  font-size: 80%;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: #08C;
}
a:hover {
  text-decoration: none;
  color: #08C;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
fieldset,
img {
  border: 0;
}
input:focus,
textarea:focus {
  outline: none;
}
textarea {
  resize: none;
  overflow: auto;
  vertical-align: top;
}
button {
  cursor: pointer;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img:hover {
  cursor: pointer;
}
menu {
  margin: 0;
}
.clear {
  zoom: 1;
}
.clear:after {
  content: '';
  display: block;
  clear: both;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.tl {
  text-align: left;
}
.tr {
  text-align: right;
}
.tc {
  text-align: center;
}
.vm {
  vertical-align: middle;
}
.pr {
  position: relative;
}
.pa {
  position: absolute;
}
.fn {
  font-weight: normal !important;
}
.fb {
  font-weight: bold;
}
.f12 {
  font-size: 12px;
}
.f14 {
  font-size: 14px;
}
.f16 {
  font-size: 16px;
}
.mt20 {
  margin-top: 20px !important;
}
/*color*/
.bg-white {
  background: #fff;
}
.bg-gray {
  background: #f7f7f7;
}
.bg-gray2 {
  background: #ebebeb;
}
.bg-gray3 {
  background: #acd7f7;
}
.bg-orange {
  background: #f1b817;
}
.bg-bule {
  background: #20a8e3;
}
.li-bg-bule {
  background: #acd7f7;
}
.li-bg-bule2 {
  background: #e3f2fd;
}
.bg-yellow {
  background: #fcf3e4;
}
.div-bg-bule {
  background: #0f2656;
}
.c-red {
  color: #141414;
}
.c-red1 {
  color: #E98145;
}
.c-bule {
  color: #20a8e3;
}
.c-orange {
  color: #e85539;
}
/*padding*/
.pr15 {
  padding-right: 15px;
}
.pr25 {
  padding-right: 48px;
}
.pl15 {
  padding-left: 15px;
}
.p20 {
  padding: 20px;
}
.p0 {
  padding: 0!important;
}
/*清除浮动*/
/*三角形*/
.triangle-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid red;
}
.triangle-left {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-right: 5px solid red;
  border-bottom: 5px solid transparent;
}
.triangle-right {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-left: 5px solid red;
  border-bottom: 5px solid transparent;
}
.triangle-topleft {
  width: 0;
  height: 0;
  border-top: 5px solid red;
  border-right: 5px solid transparent;
}
.triangle-topright {
  width: 0;
  height: 0;
  border-top: 5px solid red;
  border-left: 5px solid transparent;
}
.triangle-bottomleft {
  width: 0;
  height: 0;
  border-bottom: 5px solid red;
  border-right: 5px solid transparent;
}
.triangle-bottomright {
  width: 0;
  height: 0;
  border-bottom: 5px solid red;
  border-left: 5px solid transparent;
}
/*截断字符*/
/*radio圆环实心点*/
.radio-circle {
  margin-bottom: 10px;
}
.radio-circle input[type="radio"]:checked + .circle {
  background: #fff;
}
.radio-circle input[type="radio"] {
  display: none;
}
.radio-circle .radio-group {
  float: left;
  margin-right: 18px;
  min-width: 80px;
}
.radio-circle .radio-group span {
  position: absolute;
  min-width: 60px;
  left: 18px;
  color: #fff;
  font-size: 13px;
  line-height: 4px;
}
.radio-circle .radio-group label {
  position: relative;
  margin-right: 5px;
  display: inline-block;
  width: 5px;
  height: 5px;
  background: #00beff;
  border-radius: 100px;
  border: 5px solid #00beff;
}
/* Search Button */
/* pagtion */
/* 特殊的标题头 */
/* checkbox */
#foodTraceabilityMoreSearch {
  width: 700px;
  color: #fff;
  padding: 30px 40px;
}
#foodTraceabilityMoreSearch .first {
  width: 700px;
}
#foodTraceabilityMoreSearch .select {
  width: 150px;
  float: left;
  margin-right: 10px;
}
#foodTraceabilityMoreSearch .select select {
  width: 100%;
  height: 10%;
}
#foodTraceabilityMoreSearch .select .select2-container .select2-selection--single {
  height: 42px;
}
#foodTraceabilityMoreSearch .select .select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 42px;
}
#foodTraceabilityMoreSearch .select .select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 42px;
}
#foodTraceabilityMoreSearch .search {
  width: 538px;
  float: left;
}
#foodTraceabilityMoreSearch .search .search-input {
  width: 360px;
  float: left;
  padding: 10px 15px;
  border: 1px solid #3ff6f2;
  border-radius: 5px;
  color: #3ff6f2;
  background: #000b39;
  margin-right: 8px;
}
#foodTraceabilityMoreSearch .search .button-border-box {
  float: right;
  border-radius: 4px;
  border: 2px solid #ebecf0;
}
#foodTraceabilityMoreSearch .search .button-border-box input {
  border-radius: 3px;
  border: 3px solid #00123f;
  background: #ebecf0;
  color: #08276f;
}
#foodTraceabilityMoreSearch .search input[type="button"] {
  padding: 6px 47px;
}
#foodTraceabilityMoreSearch .search .button-border-box {
  float: left;
}
#foodTraceabilityMoreSearch .list .u-table {
  font-size: 14px;
  margin-top: 25px;
  zoom: 1;
  text-align: center;
}
#foodTraceabilityMoreSearch .list .u-table :after {
  display: block;
  clear: both;
  content: "";
  visibility: hidden;
  overflow: hidden;
  height: 0;
}
#foodTraceabilityMoreSearch .list .u-table li {
  float: left;
}
#foodTraceabilityMoreSearch .list .u-table .u-th {
  padding: 10px 0;
  border: 3px solid #3ff6f2;
  border-top: 0;
  border-bottom: 0;
  border-radius: 10px;
  background: #0b2d84;
  font-size: 17px;
  margin-bottom: 20px;
}
#foodTraceabilityMoreSearch .list .u-table .u-tr {
  border-bottom: 1px solid #154988;
  padding: 8px 0;
}
#foodTraceabilityMoreSearch .list .u-table .u-tr li {
  min-height: 1px;
}
#foodTraceabilityMoreSearch .list .u-table .w-1 {
  width: 33.3%;
}
#foodTraceabilityMoreSearch .list .u-table .w-2 {
  width: 33.3%;
}
#foodTraceabilityMoreSearch .list .u-table .w-3 {
  width: 33.3%;
  position: relative;
}
#foodTraceabilityMoreSearch .list .u-table .w-3:hover {
  cursor: pointer;
  color: #3ff6f2;
  text-decoration: underline;
}
#foodTraceabilityMoreSearch .list .u-table .w-3:hover > .hover-list {
  display: block;
  position: absolute;
  border: 1px solid #3ff6f2;
  border-radius: 10px;
  padding: 10px 7px;
  background: #04176d;
  z-index: 2;
  top: 0;
  left: -76px;
  box-shadow: 1px 3px 40px rgba(0, 0, 0, 0.7);
}
#foodTraceabilityMoreSearch .list .u-table .hover-list span:first-child {
  margin-right: 10px;
}
#foodTraceabilityMoreSearch .list .u-table .hover-list span {
  display: inline-block;
}
#foodTraceabilityMoreSearch .list .pagtion {
  margin-top: 30px;
  float: right;
}
#foodTraceabilityMoreSearch .list .pagtion .active {
  color: #fff !important;
  background: #0079bb !important;
  border: 1px solid #0079bb;
  border-radius: 3px;
}
#foodTraceabilityMoreSearch .list .pagtion span {
  float: left;
  font-size: 13px;
}
#foodTraceabilityMoreSearch .list .pagtion span:hover {
  cursor: pointer;
}
#foodTraceabilityMoreSearch .list .pagtion a:hover {
  cursor: pointer;
  color: #fff !important;
  background: #0079bb !important;
  border: 1px solid #0079bb;
  border-radius: 3px;
}
#foodTraceabilityMoreSearch .list .pagtion a {
  font-size: 13px;
  width: 20px;
  height: 20px;
  text-align: center;
  color: #91a0ad;
  margin: 0 8px;
  float: left;
  border: 1px solid transparent;
}
#foodTraceabilityMoreSearch .hover-list {
  display: none;
}
