/*清除浮动*/
/*三角形*/
.triangle-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid red;
}
.triangle-left {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-right: 5px solid red;
  border-bottom: 5px solid transparent;
}
.triangle-right {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-left: 5px solid red;
  border-bottom: 5px solid transparent;
}
.triangle-topleft {
  width: 0;
  height: 0;
  border-top: 5px solid red;
  border-right: 5px solid transparent;
}
.triangle-topright {
  width: 0;
  height: 0;
  border-top: 5px solid red;
  border-left: 5px solid transparent;
}
.triangle-bottomleft {
  width: 0;
  height: 0;
  border-bottom: 5px solid red;
  border-right: 5px solid transparent;
}
.triangle-bottomright {
  width: 0;
  height: 0;
  border-bottom: 5px solid red;
  border-left: 5px solid transparent;
}
/*截断字符*/
/*radio圆环实心点*/
.radio-circle {
  margin-bottom: 10px;
}
.radio-circle input[type="radio"]:checked + .circle {
  background: #fff;
}
.radio-circle input[type="radio"] {
  display: none;
}
.radio-circle .radio-group {
  float: left;
  margin-right: 18px;
  min-width: 80px;
}
.radio-circle .radio-group span {
  position: absolute;
  min-width: 60px;
  left: 18px;
  color: #fff;
  font-size: 13px;
  line-height: 4px;
}
.radio-circle .radio-group label {
  position: relative;
  margin-right: 5px;
  display: inline-block;
  width: 5px;
  height: 5px;
  background: #00beff;
  border-radius: 100px;
  border: 5px solid #00beff;
}
/* Search Button */
/* pagtion */
/* 特殊的标题头 */
/* checkbox */
